[submodule "detectron2"]
	path = detectron2
	url = git@github.com:xmarva/detectron2.git
[submodule "pytorch-openpose"]
	path = pytorch-openpose
	url = git@github.com:xmarva/pytorch-openpose.git
[submodule "Self-Correction-Human-Parsing"]
	path = Self-Correction-Human-Parsing
	url = git@github.com:xmarva/Self-Correction-Human-Parsing.git
[submodule "ladi-vton"]
	path = ladi-vton
	url = git@github.com:xmarva/ladi-vton.git
